<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mz.miniprojetandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controllers.Fournisseur.Fournisseurs"></activity>
        <activity android:name=".Controllers.Medicament.UpdateMedicament" />
        <activity android:name=".Controllers.Medicament.AddMedicament" />
        <activity android:name=".Controllers.Medicament.Medicaments" />
        <activity android:name=".Controllers.Fournisseur.UpdateFournisseur" />
        <activity android:name=".Controllers.Fournisseur.AddFournisseur" />
        <activity android:name=".Controllers.Navigateur">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.MainActivity" />
    </application>

</manifest>